@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

:root {
  --thin: 300;
  --regular: 400;
  --bold: 700;
  --extraBold: 900;
  --darkBlue: #064789;
  --lightBlue: #427AA1;
  --darkOrange: #D56F3E;
  --lightOrange: #FF9B42;
  --darkGreen: #679436;
  --lightGreen: #A5BE00;
  --lilac: #C19AB7;
  --burgandy: #7B0828;

}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
